@font-face {
  font-family: 'Poppins' ;
  src: url('../fonts/Poppins-Light.ttf');
}
html{
  padding: 0;
  margin: 0;
}
body{
  width: 98vw!important;
  min-height: 100vh;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  container-type:inline-size;
  padding: 0;
  margin: 0;
}
header{
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  height: 80px;
  align-items: center;
  font-size: 42px;
  width: 100%;
}
header > #logo{
  display: flex;
  align-items: center;
}
header>#logo>img{
  width: 32px;
  height: 32px;
}
header>#layout-flex
{
  width: 85%;
  flex-shrink: 1;
}
header>button{
  height: 42px;
  display: flex;
  align-items: center;
  padding: 50%;
  font-weight: lighter;
  border-radius: 200px!important;
  color: hsl(321, 100%, 78%)!important;
  border: 1px solid hsl(321, 100%, 78%)!important;
  font-weight: bolder!important;
  outline: none!important;
  box-shadow: 0px!important;
}
header>button:focus{
  background-color: white!important;
  box-shadow: 0px!important;
  outline: none!important;
  outline-color: white!important;
  box-shadow: 0 0 0 0px hsl(321, 100%, 78%)!important;
}
header>button:hover{
  box-shadow: 0px!important;
  background-color: white!important;
  cursor: pointer;
}
menu{
  width: 70vw!important;
  min-height: 100vh!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
}
menu>#intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
menu>#intro>#intro-desc{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center!important;
  word-break: normal;
  width: 100%;
}
menu>#intro>#intro-desc>#title{
  font-size: 32px;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bolder;
}
menu>#intro>#intro-desc>#text{
  width: 60%;
}
menu>#intro>img{
  width:70%!important;
  height: 30%;
  margin-top: 10px;
}
.button-big{
  border: 0px!important;
  outline: 0px;
  height: 60px;
  width: 30%;
  background-color:  hsl(321, 100%, 78%);
  font-weight: bolder;
  border-radius: 50px;
  color: white;
  font-size: 21px;
  margin-top: 10px;
  cursor: pointer;
}
menu>#info-card{
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
menu>#info-card > .info-box{
  width: 150px;
  min-height: 300px;
}
menu>#info-card > .info-box > img{
  margin-top: 60px;
  width: 32px;
  height: 32px;
}
menu>#info-card > .info-box > .stat{
  font-size: 60px;
  font-weight: bolder;
}
menu>#info-card > .info-box > .info-box-text{
  text-align: center;
  color: gray;
}
menu>.info-card2{
  margin-top: 150px;
  width:100rem;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
menu>.info-card2> #bg1
{
  width: 100rem;
  height: 100px;
}
menu>.info-card2>#info-data{
  height: 800px!important;
  width: 100rem;
  background-color: hsl(207, 100%, 98%);
  z-index: -1;
  padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
menu>.info-card2>#info-data>#textarea{
  width: 40%;
  height: 200px;
  margin-right: 10%;
}
menu>.info-card2>#info-data>#textarea>#title{
  font-weight: bolder;
  font-size: 32px;
}
menu>.info-card2>#info-data> img{
  width: 400px;
  height: 400px;
}
menu>.info-card2>#bg2{
  transform: scale(-1,-1);
  height: 100px;
  width: 100rem;
}
menu>#info-card3{
  width:100rem;
  height: 600px;
  padding-left: calc(100% - 60% - 350px);
  display: flex;
  flex-direction: row;
  align-items:center ;
  margin-top: 50px;
}
menu>#info-card3>#info-box{
  display: flex;
  align-items: center;
}
menu>#info-card3>#info-box>#textarea{
  height: 200px; 
  flex-direction: row;;
  width: 40%;
}
menu>#info-card3>#info-box>#textarea>#title{
  font-size: 32px;
  font-weight: bolder;
}
menu>#info-card3>#info-box> img{
  width: 400px;
  height: 400px;
  margin-right: 100px;
  margin-bottom: 100px;
}
menu>#build-community-button{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
menu>#build-community-button>#text{
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 30px;
}
footer>img{
  z-index: -1;
  width: 100vw;
  margin-top: 150px;
}
footer>#components{
  width: 100%;
  z-index: -1;
  height: 400px;
  background-color: hsl(192, 100%, 9%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
footer>#components>#contract>.con img {
  width: 21px;
  height: 21px;
}
footer>#components>#contract>.con{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
footer>#components>#contract>#social-media{
  display: flex;
  width: 15%;
  margin-top: 30px;
  justify-content: space-between;
}
footer>#components>#contract>#social-media img{
  width: 32px;
  height: 32px;
  cursor: pointer;
}
footer>#components>#contract>#social-media>#ins{
  width: 47px;
  height: 32px;
}
footer>#components>#contract>#title{
  width: 100px;
  height: 50px;
  width: 35%;
  fill: white;  
  font-size: 40px;
  display: flex;
  font-weight: bolder;
  margin-bottom: 10px;
  align-items: center;
}
footer>#components>#contract>#text{
  font-size: 14px;
  word-break: break-all;
  width: 35%;
}
footer>#components>#contract>.con div{
  margin-left: 10px;
}
